{% for student in students %}
  <tr id="student-{{ student.pk }}" class="movie-row">
  <td>{{ student.admin.id }}</td>
  <td>{{ student.admin.first_name }}</td>
  <td>{{ student.admin.last_name }}</td>
  <td>{{ student.admin.username }}</td>
  <td>{{ student.admin.email }}</td>
  <td>{{ student.address }}</td>
  <td>{{ student.gender }}</td>
  <td><img src="{{ student.profile_pic }}" style="width:100px"/></td>
  <td>{{ student.session_year_id.session_start_year }} TO {{ student.session_year_id.session_end_year }}</td>
  <td>{{ student.course_id.course_name }}</td>
  <td>{{ student.admin.last_login }}</td>
  <td>{{ student.admin.date_joined }}</td>
  <td><button class="btn btn-primary btn-sm" hx-get="{% url 'edit_student' student_id=student.admin.id %}" hx-target="#dialog">Edit</button>
  </tr>
{% endfor %}