{% extends 'hod_template/base_template.html' %}
{% block main_content %}
    <div class="content-header"><!-- Content Header (Page header) -->
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">
              <b>Editar Alumno</b>
            </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <a href="{% url 'manage_student' %}" class="btn btn-secondary float-right"><i class="fas fa-arrow-left"></i><b>&nbsp Regresar</b></a>
          </div>
        </div><!-- /.row -->
      </div>
    </div><!-- End Content Header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Editar {{ username }}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                {% url 'edit_student_save' as action_path %}
                {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Edit Student" %}
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

