{% extends 'hod_template/base_template.html' %}

{% block main_content %}
    <div class="content-header"><!-- Content Header (Page header) -->
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">
              <b>Gestión de Alumnos</b>
            </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <a href="{% url 'add_student' %}" class="btn btn-primary float-right"><i class="fas fa-plus"></i><b> Agregar Alumno</b></a>
          </div>
        </div><!-- /.row -->
      </div>
    </div><!-- End Content Header -->
  <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}.</strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              {% endfor %}
        {% endif %}
      </div>
    </section>
    <!-- Main content --> 
    <section class="content">
      <div class="container-fluid">
           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Detalle de Alumnos</h3>
                <div class="card-tools">
                  <div class="row g-3">
                    <div class="col-sm-5">
                      <select class="form-select" aria-label="Default select example" name="status">
                        <option selected>Selecciona un estado</option>
                        {% for status_students in status_students %}
                          <option value="{{status_students.name}}">{{status_students.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <input type="text" name="searchbar" class="form-control" id="formGroupExampleInput" placeholder="Buscar por nombre">
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" class="btn btn-success">Buscar</button>
                    </div>
                  </div>
                  <!--<form class="input-group" method="GET">
                    <div>
                      <p>Filtrar por:&nbsp&nbsp</p>
                    </div>
                    <div style="margin-right:10px">
                      <select class="form-select" aria-label="Default select example" name="status">
                        <option selected>Selecciona un estado</option>
                        <option value="1">One</option>
                      </select>
                    </div>
                    <div style="margin-right:10px">
                      <input type="text" name="searchbar" class="form-control" id="formGroupExampleInput" placeholder="Buscar por nombre">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </form>-->
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th class="text-center">Curso</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center">Fecha Inicio</th>
                      <th class="text-center">Fecha Vencimiento</th>
                      <th class="text-center">Días Vigentes</th>
                      <th>Último acceso</th>
                      <th>Fecha Creación</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                      <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.full_name }}</td>
                        <td class="text-center"><b><a href="{% url 'manage_course' %}">{{ student.course_id.course_name }}</a></b></td>
                        <td class="text-center">
                            <button class="btn btn-success" style="width:70px;" disabled>Activo</button>
                        </td>
                        <td class="text-center">{{ student.start_date }}</td>
                        <td class="text-center">
                          <b>
                            {% if student.exp_date == 1 %}
                              <p>{{ student.end_date }}</p>
                            {% elif student.exp_date == 0 %}
                              <p style="color:red">{{ student.end_date }}</p>
                            {% else %}
                              <p style="color:#ffd333">{{ student.end_date }}</p>
                            {% endif %}
                          </b>
                          </td>
                        <td class="text-center">
                          {% if student.exp_date_days > 0 %}
                            <p style ="color:green"><b>{{ student.exp_date_days }}</b></p>
                          {% else %}
                          <p style ="color:red"><b>{{ student.exp_date_days }}</b></p>
                          {% endif %}
                        </td>
                          
                        <td>{{ student.admin.last_login }}</td>
                        <td>{{ student.admin.date_joined }}</td>
                        <td class="text-center">
                          <a href="/edit_student/{{ student.admin.id }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar">Editar</a>
                          <button onclick="abrir_modal_view('{% url 'view_student' student_id=student.admin.id %}')" class="btn btn-secondary">Ver</button>
                          <a href="/edit_student/{{ student.admin.id }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa-solid fa-trash"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if students.has_previous %}
                  <!--<li class="page-item"><a class="page-link" href="?page=1"><span aria-hidden="true" >&laquo;</span></a></li>-->
                  <li class="page-item"><a class="page-link" href="?page={{students.previous_page_number}}" >Previo</a></li>
                  {% else %}
                  <!--<li class="page-item disabled"><a class="page-link"><span aria-hidden="true" >&laquo;</span></a></li>-->
                  <li class="page-item disabled"><a class="page-link">Previo</a></li>
                {% endif %}
                {% for i in students.paginator.page_range %}
                  {% if students.number == i %}
                    <li class="page-item active" aria-current="?page"><a href="?page={{forloop.counter}}" class="page-link">{{ forloop.counter }}</a></li>
                  {% else %}
                    <li class="page-item" aria-current="?page"><a href="?page={{forloop.counter}}" class="page-link" >{{ forloop.counter }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if students.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{students.next_page_number}}" >Siguiente</a></li>
                  <!--<li class="page-item"><a class="page-link" href="?page={{students.paginator.num_pages}}"><span aria-hidden="true" >&raquo;</span></a></li>-->
                  {% else %}
                  <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
                  <!--<li class="page-item disabled"><a class="page-link"><span aria-hidden="true">&raquo;</span></a></li>-->
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

<!-- Blank Modal -->
<div class="modal fade" id="view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>

{% block custom_js %}

<script type="text/javascript">
  function abrir_modal_view(url){
    $('#view').load(url, function (){
      $(this).modal('show');
    });
  }
</script>

{% endblock custom_js %}

{% endblock main_content %}