{% extends 'hod_template/base_template.html' %}
{% block main_content %}
<div class="content-header"><!-- Content Header (Page header) -->
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">
          <b>Cursos</b>
        </h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <a href="{% url 'add_course' %}" class="btn btn-primary float-right"><i class="fas fa-plus"></i><b> Agregar</b></a>
      </div>
    </div><!-- /.row -->
  </div>
</div><!-- End Content Header -->
<!-- Main content -->
{% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}.</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% endfor %}
{% endif %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Detalles Cursos</h3>

                <div class="card-tools">
                  <form class="input-group">
                    <input type="text" name="searchbar" class="form-control float-right" placeholder="Buscar">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Duración</th>
                      <!--<th>Costo Ins.</th>
                      <th>Costo Mat.</th>
                      <th>Costo Mes</th>
                      <th>Descuento P.P.</th>
                      <th>Total Inversión</th>-->
                      <th>Fecha Creación</th>
                      <th>Última Modificación</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for course in courses %}
                    <tr>
                      <td>{{ course.id }}</td>
                      <td>{{ course.course_name }}</td>
                      <td>{{ course.duracion }} meses</td>
                      <!--<td>{{ course.costo_ins }}</td>
                      <td>{{ course.costo_mat }}</td>
                      <td>{{ course.costo_mes }}</td>
                      <td>{{ course.descuento_pp }}</td>
                      <td>{{ course.costo_total }}</td>-->
                      <td>{{ course.created_at }}</td>
                      <td>{{ course.updated_at }}</td>
                      <td>
                        <a href="/edit_course/{{ course.id }}" class="btn btn-primary">Editar</a>
                        <a href="/edit_course/{{ course.id }}" class="btn btn-secondary">Ver</a>
                        <a href="/edit_student/{{ student.admin.id }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if courses.has_previous %}
                  <!--<li class="page-item"><a class="page-link" href="?page=1"><span aria-hidden="true" >&laquo;</span></a></li>-->
                  <li class="page-item"><a class="page-link" href="?page={{courses.previous_page_number}}" >Previo</a></li>
                  {% else %}
                  <!--<li class="page-item disabled"><a class="page-link"><span aria-hidden="true" >&laquo;</span></a></li>-->
                  <li class="page-item disabled"><a class="page-link">Previo</a></li>
                {% endif %}

                {% for i in courses.paginator.page_range %}
                  {% if courses.number == i %}
                    <li class="page-item active" aria-current="?page"><a href="?page={{forloop.counter}}" class="page-link">{{ forloop.counter }}</a></li>
                  {% else %}
                    <li class="page-item" aria-current="?page"><a href="?page={{forloop.counter}}" class="page-link" >{{ forloop.counter }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if courses.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{courses.next_page_number}}" >Siguiente</a></li>
                  <!--<li class="page-item"><a class="page-link" href="?page={{students.paginator.num_pages}}"><span aria-hidden="true" >&raquo;</span></a></li>-->
                  {% else %}
                  <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
                  <!--<li class="page-item disabled"><a class="page-link"><span aria-hidden="true">&raquo;</span></a></li>-->
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
      
    </section>
    <!-- /.content -->
    
{% endblock main_content %}

